<div class="row">
	<div class="col-md-9">
		<div class="author">
			<div class="row" id="form-user" style="width: 100%;">
				<div class="col-md-2">
					<%= link_to gravatar_for(@user, :size => 60), @user %>
					<%= render 'follow_form' if user_signed_in? %>
				</div>
				<div class="col-md-7 col-md-offset-0 text-muted">
					<h2><%= link_to @user.name, @user %>
					</h2>
				</div>
				<div class="col-md-3">
					<ul class="text-muted">
						<li> likes: 100 </li>
						<li> <%= render 'shared/stats' %> </li> <% unless @users.nil? %>
						<li> post: 100 </li>
					</ul>
				</div>
			</div>
		</div>
		<table class="table table-hover">
		<%= will_paginate @users %>
			<% @users.each do |user| %>

			<tr>
				<td>
					<%= link_to gravatar_for(user, :size => 30), user %>
					<%= user.name %>
				</td>
			</tr>
			<% end %>
			</table>
			<%= will_paginate @users %>
		<% end %>
	</div>
	<div class="col-md-3">
		 <ul class="list-group">
			<li class="list-group-item list-group-item-success">Profile</li>
			<li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> <%= @user.email %></li>
			<li class="list-group-item"><span class="glyphicon glyphicon-earphone"></span> <%= @user.phone %> </li>			
			<li class="list-group-item"><span class="glyphicon glyphicon-globe"></span> <%= @user.website %></li>
			<li class="list-group-item"><span class="glyphicon glyphicon-home"></span> <%= @user.location %></li>
			<li class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>   Bio : </br>
			<p>
				<%= @user.bio %>
			</p>
			</li>
			
		</ul>
	</div>
</div>


