aaaaaaaaaaaaaaaaaaa
<% if user_signed_in?
	aaaaaaaaaaaaaaaaaaaaa
end

%>
<!-- 
<div id="main">
			
	<div class="row">
		<div class="col-md-4">
			<div class="main_inner">
				<a href="">
				<%= image_tag("Untitled1.png", :alt=> "Untitled1" ) %>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="main_inner">
				<a href="">
				<%= image_tag("Untitled1.png", :alt=> "Untitled1" ) %>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="main_inner">
				<a href="">
				<%= image_tag("Untitled1.png", :alt=> "Untitled1" ) %>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="main_inner">
				<a href="">
				<%= image_tag("Untitled1.png", :alt=> "Untitled1" ) %>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="main_inner">
				<a href="">
				<%= image_tag("Untitled1.png", :alt=> "Untitled1" ) %>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="main_inner">
				<a href="">
				<%= image_tag("Untitled1.png", :alt=> "Untitled1" ) %>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="main_inner">
				<a href="">
				<%= image_tag("Untitled1.png", :alt=> "Untitled1" ) %>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="main_inner">
				<a href="">
				<%= image_tag("Untitled1.png", :alt=> "Untitled1" ) %>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="main_inner">
				<a href="">
				<%= image_tag("Untitled1.png", :alt=> "Untitled1" ) %>
				</a>
			</div>
		</div>
	</div>
</div>		
-->