<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag "logo.png" %>
  <%= csrf_meta_tags %>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '476034529217727',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</head>
<body>
	<%= render 'layouts/header' %>
    <div class="container">
      <%= render 'layouts/tags' %>
      <%= render 'layouts/messages' %> 
      <div id="main"> 
      <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
</body>
</html>
